<template>
  <div id="app">
    <header class="has-background-primary">
        <b-navbar type="is-primary" wrapper-class="container">
            <template slot="brand">
                <router-link class="navbar-item" to="/">Home</router-link>
            </template>

            <template slot="end">
                <b-navbar-item tag="div">
                    <div class="buttons">
                        <a class="button is-tertiary">
                            <strong>Sign up</strong>
                        </a>
                        <a class="button is-light">
                            Log in
                        </a>
                    </div>
                </b-navbar-item>
            </template>
        </b-navbar>
    </header>

    <router-view/>

<footer class="footer">
  <div class="content has-text-centered">
    <p>
      Bills Manager &copy; 2020 - Trevor Hebert
    </p>
  </div>
</footer>
  </div>
</template>

<style lang="scss">

</style>
