// Import Bulma's core
@import "~bulma/sass/utilities/_all";
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

// Set your colors
$primary: #05668D;
$primary-light: findLightColor($primary);
$primary-dark: findDarkColor($primary);
$primary-invert: findColorInvert($primary);

$secondary: #00A896;
$secondary-dark: findDarkColor($secondary);
$tertiary: #F0F3BD;
$tertiary-light: findLightColor($tertiary);
$quaternary: #028090;
$quinary: #02C39A;

$twitter: #4099FF;
$twitter-invert: findColorInvert($twitter);
$primary-font: 'Quicksand', sans-serif;

$footer-background-color: $primary;
$footer-color: white;
$footer-padding: 3rem 1.5rem 3rem;

$body-overflow-y: auto; // may want to revert to default of scroll

$box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0px 0 1px rgba(10, 10, 10, 0.02);

.has-box-shadow {
    box-shadow: $box-shadow;
}

.has-box-shadow-top {
    box-shadow: 0 -0.2em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0px 0 1px rgba(10, 10, 10, 0.02);
}

html, body {
    font-family: $primary-font;

    div, h1, h2, h3, h4, h5, p, li, button {
        font-family: $primary-font;
    }
}

.button {
    font-weight: 500;
}

// Lists and maps
$custom-colors: (
    "secondary": ($secondary),
    "tertiary": ($tertiary),
    "quaternary": ($quaternary),
    "quinary": ($quinary)
);
$custom-shades: null !default;

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: mergeColorMaps(
    (
        "white": (
            $white,
            $black,
        ),
        "black": (
            $black,
            $white,
        ),
        "light": (
            $light,
            $light-invert,
        ),
        "dark": (
            $dark,
            $dark-invert,
        ),
        "primary": (
            $primary,
            $primary-invert,
            $primary-light,
            $primary-dark,
        ),
        "link": (
            $link,
            $link-invert,
            $link-light,
            $link-dark,
        ),
        "info": (
            $info,
            $info-invert,
            $info-light,
            $info-dark,
        ),
        "success": (
            $success,
            $success-invert,
            $success-light,
            $success-dark,
        ),
        "warning": (
            $warning,
            $warning-invert,
            $warning-light,
            $warning-dark,
        ),
        "danger": (
            $danger,
            $danger-invert,
            $danger-light,
            $danger-dark,
        ),
    ),
    $custom-colors
);

// Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";
