<template>
  <div class="page-create-bill container">
    <section class="section">
      <div class="columns is-centered">
        <div class="column is-half">
          <div class="card">
            <div class="card-content">
              <bill-form title="Add Bill" button-text="Submit" :bill="bill" @submitted="createBill"></bill-form>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import BillForm from '../components/BillForm.vue';

export default Vue.extend({
  components: { BillForm },

  data() {
    return {
      bill: {
        name: null,
        provider: null,
        category: null,
        frequency: null,
        automaticPayment: false,
        requiresRenewal: false,
      },
    };
  },

  methods: {
    async createBill(bill: object) {
      const createdBill = await this.$api.bills.create(bill);

      this.$router.push({
        name: 'Home',
      });

      this.$swal.fire({
        toast: true,
        position: 'bottom-start',
        title: 'Created Bill:',
        text: createdBill.name,
        icon: 'success',
        showConfirmButton: false,
        timer: 3000,
      });
    },
  },
});
</script>

<style lang="scss">
.page-create-bill {
  min-height: 741px;
}
</style>
