<template>
  <div class="page-edit-bill container">
    <section class="section">
      <div class="columns is-centered">
        <div class="column is-half">
          <div class="card">
            <div class="card-content">
              <bill-form title="Edit Bill" button-text="Update" :bill="bill" @submitted="updateBill"></bill-form>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import BillForm from '../components/BillForm.vue';

export default Vue.extend({
  components: { BillForm },

  data() {
    return {
      bill: {
        name: null,
        provider: null,
        category: null,
        frequency: null,
        automaticPayment: false,
        requiresRenewal: false,
      },
    };
  },

  created() {
    this.getBill(this.$route.params.id);
  },

  methods: {

    /**
     * @param id -
     */
    async getBill(id: string) {
      this.bill = await this.$api.bills.find(Number(id));
    },

    /**
     * @param bill -
     */
    async updateBill(bill: object) {
      const updatedBill = await this.$api.bills.update(Number(this.$route.params.id), bill);

      this.$router.push({
        name: 'Home',
      });

      this.$swal.fire({
        toast: true,
        position: 'bottom-start',
        title: 'Updated Bill:',
        text: updatedBill.name,
        icon: 'success',
        showConfirmButton: false,
        timer: 3000,
      });
    },
  },
});
</script>

<style lang="scss">
.page-edit-bill {
  min-height: 741px;
}
</style>
