<template>
  <div class="page-home">
    <section class="hero has-background-tertiary">
      <div class="hero-body px-0">
        <div class="container">
          <h1 class="title is-2 has-text-dark">Bills Tracker</h1>
          <p class="subtitle is-4 has-text-dark">
            Making life a little bit easier
          </p>
        </div>
      </div>
    </section>

    <section class="active-bills py-5">
      <div class="container">
        <h2 class="title is-3 has-text-weight-medium">Active Bills</h2>
        <div class="columns is-multiline">
          <div class="column is-one-third" v-for="bill in bills" :key="bill.id">
            <div class="card">
              <div class="card-content has-background-white">
                <div class="content">
                  <div class="block">
                    <div class="is-pulled-left">
                      <div class="title has-text-dark is-4">
                        {{ bill.name }}
                      </div>
                      <div class="subtitle has-text-dark is-6">
                        {{ bill.provider }}
                      </div>
                    </div>

                    <div class="is-pulled-right" v-if="wasBillCreatedToday(bill.created) || bill.isPaidThisMonth">
                      <div v-if="bill.isPaidThisMonth">
                        <span
                          class="mdi mdi-check is-pulled-right is-size-4 has-text-success"
                          ><span class="is-size-4 ml-2">Paid</span></span
                        >
                      </div>
                      <div v-else>
                        <span
                          class="mdi mdi-close is-pulled-right is-size-4 has-text-danger"
                          ><span class="is-size-4 ml-2">Unpaid</span>
                        </span>
                      </div>
                    </div>

                    <div class="is-clearfix"></div>
                  </div>

                  <div class="level">
                    <div class="date has-text-dark is-2 is-pulled-left">
                      <span v-if="bill.lastPaid">
                        Last Paid: {{ dayjs(bill.lastPaid).format('YYYY-MM-DD') }}
                      </span>
                    </div>

                    <div class="view-bill level-right">
                      <b-button
                        tag="router-link"
                        :to="{ name: 'ViewBill', params: { id: bill.id } }"
                        type="is-primary"
                      >
                        View
                      </b-button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <b-button
          tag="router-link"
          :to="{ name: 'CreateBill' }"
          type="is-secondary"
        >
          Create Bill
        </b-button>
      </div>
    </section>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  name: 'Home',
  data() {
    return {
      bills: [],
    };
  },

  async mounted() {
    this.bills = await this.$api.bills.all();
  },

  methods: {

    /**
     * @param billDateString - the bills created date
     */
    wasBillCreatedToday(billDateString: string) {
      const billDate = this.dayjs(billDateString);
      const todayDate = this.dayjs(new Date());

      return (billDate.startOf('day') < todayDate.startOf('day'));
    },
  },
});
</script>

<style lang="scss">
.active-bills {
  min-height: 566px;
}
</style>
