<template>
  <div class="page-view-bill">
    <section class="hero has-background-tertiary">
      <div class="hero-body px-0">
        <div class="container">
          <div class="level">
            <div class="level-item level-left">
              <div>
                <h1 class="title is-spaced is-2 has-text-dark">
                  {{ bill.name }}
                </h1>
                <p class="subtitle is-4 has-text-dark">
                  {{ bill.provider }}
                </p>
              </div>
            </div>

            <div
              class="level-item level-right"
              v-if="wasBillCreatedToday(bill.created) || bill.isPaidThisMonth"
            >
              <div v-if="bill.isPaidThisMonth">
                <span class="is-pulled-right has-text-right">
                  <div class="is-size-1 ml-2 has-text-success">Paid</div>
                  <div class="is-size-5">
                    <div v-if="bill.lastPaid">
                      <span class="mdi mdi-calendar"></span>
                      {{ dayjs(bill.lastPaid).format('YYYY-MM-DD') }}
                    </div>
                    <div v-else><span class="mdi mdi-calendar"></span> N/A</div>
                  </div>
                </span>
              </div>
              <div v-else>
                <span class="is-pulled-right">
                  <div class="is-size-1 ml-2 has-text-danger">Unpaid</div>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="section">
      <div class="container">
        <div class="columns">
          <div
            class="column action-container has-background-white has-box-shadow-top is-one-quarter is-offset-three-quarters with-border-bottom"
          >
            <div class="level">
              <router-link
                :to="{ name: 'EditBill', params: { id: bill.id } }"
                class="action edit level-item has-text-weight-bold"
              >
                Edit
              </router-link>
              <a
                class="action destroy level-item has-text-weight-bold"
                @click.prevent="destroyBill"
              >
                Delete
              </a>
              <div class="is-clearfix"></div>
            </div>
          </div>
        </div>

        <div class="columns has-box-shadow has-background-white">
          <div class="column is-three-quarters">
            <div class="p-3">
              <h2 class="title is-3">
                <span class="mdi mdi-history has-text-secondary"></span>
                Payment History
              </h2>

              <template v-if="bill.payments.length">
                <ul>
                  <li
                    v-for="payment in bill.payments"
                    :key="payment.id + '_payment'"
                    class="box has-background-tertiary-light mb-1"
                  >
                    <div class="level">
                      <span class="date">{{
                        dayjs(payment.date).format('YYYY-MM-DD')
                      }}</span>
                      <span class="price has-text-weight-bold"
                        >${{ payment.amount }}</span
                      >
                    </div>
                  </li>
                </ul>

                <h2 class="title is-3 mt-6">
                  <span class="mdi mdi-database has-text-secondary"></span>
                  Aggregate Information
                </h2>

                <p class="mb-3">
                  Show a pie chart of how much this utility costs vs other ones.
                  (totals for the year)
                </p>

                <div class="level">
                  <div class="is-size-5">Total Paid This Year:</div>
                  <div class="is-size-5 has-text-weight-bold">${{ aggregateInformation.totalPaidThisYear }}</div>
                </div>
              </template>

              <template v-else>
                <p>There doesn't seem to be anything here.</p>
              </template>
            </div>
          </div>
          <div class="column is-one-quarter has-text-centered with-border-left">
            <div class="p-3">
              <h2 class="title is-4">
                <span
                  class="mdi mdi-information-outline has-text-secondary"
                ></span>
                Bill Details
              </h2>
              <div class="last-paid has-text-dark is-size-5 level mb-2">
                <div>Last paid on:</div>
                <div>
                  <div v-if="bill.lastPaid">
                    {{ dayjs(bill.lastPaid).format('YYYY-MM-DD') }}
                  </div>
                  <div v-else>N/A</div>
                </div>
              </div>
              <div class="category has-text-dark is-size-5 level mb-2">
                <div>Category:</div>
                <div>{{ bill.category }}</div>
              </div>
              <div class="frequency has-text-dark is-size-5 level mb-2">
                <div>Frequency:</div>
                <div>{{ bill.frequency }}</div>
              </div>
              <div class="frequency has-text-dark is-size-5 level mb-2">
                <div>Automatic:</div>
                <div>
                  {{ outputBoolean(bill.automaticPayment, "Yes", "No") }}
                </div>
              </div>
              <div class="renewal has-text-dark is-size-5 level mb-2">
                <div>Requires Renewal:</div>
                <div>
                  {{ outputBoolean(bill.requiresRenewal, "Yes", "No") }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  data() {
    return {
      bill: {
        id: 0,
        payments: [],
      },
      aggregateInformation: {
        totalPaidThisYear: 0,
      },
    };
  },

  async mounted() {
    this.bill = await this.$api.bills.find(Number(this.$route.params.id));

    this.bill.payments.forEach((payment) => {
      this.aggregateInformation.totalPaidThisYear += payment.amount;
    });
  },

  methods: {

    /**
     * @param billDateString - the bills created date
     */
    wasBillCreatedToday(billDateString: string) {
      const billDate = this.dayjs(billDateString);
      const todayDate = this.dayjs(new Date());

      return (billDate.startOf('day') < todayDate.startOf('day'));
    },

    /**
     * @param boolValue -
     * @param trueText -
     * @param falseText -
     */
    outputBoolean(boolValue: boolean, trueText: string, falseText: string) {
      return boolValue ? trueText : falseText;
    },

    /**
     * Delete the bill
     */
    async destroyBill() {
      this.$swal
        .fire({
          title: 'Are you sure?',
          text: "You won't be able to revert this!",
          icon: 'warning',
          buttonsStyling: false,
          showCancelButton: true,
          confirmButtonText: 'Yes, delete it!',
          customClass: {
            content: 'mb-3',
            confirmButton: 'button is-secondary mr-2',
            cancelButton: 'button is-danger ml-2',
          },
        })
        .then(async (result) => {
          if (result.isConfirmed) {
            // need to refactor this function (and base api) i think to return a typped object etc
            // for now i just set id on bill to 0
            await this.$api.bills.destroy(this.bill.id);

            this.$router.push({
              name: 'Home',
            });

            this.$swal.fire({
              toast: true,
              position: 'bottom-start',
              title: 'Deleted!',
              text: 'Your bill has been deleted.',
              icon: 'success',
              showConfirmButton: false,
              timer: 3000,
            });
          }
        });
    },
  },
});
</script>

<style lang="scss">
.page-view-bill {
  min-height: 741px;
}

.with-border-left {
  border-left: 1px dashed $primary;
}

.with-border-bottom {
  border-bottom: 1px dashed $primary;
}

.action-container {
  .action {
    &.edit {
      color: $secondary;

      &:hover {
        color: $secondary-dark;
      }
    }

    &.destroy {
      color: $danger;

      &:hover {
        color: $danger-dark;
      }
    }
  }
}
</style>
