<template>
  <form class="bill-form">
    <h1 class="title is-2">{{ title }}</h1>

    <b-field label="Name">
      <b-input v-model="bill.name" placeholder="Hydro" rounded></b-input>
    </b-field>
    <b-field label="Provider">
      <b-input
        v-model="bill.provider"
        placeholder="Kitchener Utilities"
        rounded
      ></b-input>
    </b-field>
    <b-field label="Category">
      <b-select
        expanded
        v-model="bill.category"
        placeholder="Select a category"
        rounded
      >
        <option value="Utility">Utility</option>
        <option value="Tax">Tax</option>
        <option value="Mortgage">Mortgage</option>
        <option value="Loan">Loan</option>
      </b-select>
    </b-field>
    <b-field label="Frequency">
      <b-select
        expanded
        v-model="bill.frequency"
        placeholder="Select a frequency"
        rounded
      >
        <option value="Weekly">Weekly</option>
        <option value="Bi-Weekly">Bi-Weekly</option>
        <option value="Monthly">Monthly</option>
        <option value="Yearly">Yearly</option>
      </b-select>
    </b-field>
    <b-field label="Is this payment paid automatically?">
      <b-radio
        class="mr-4"
        v-model="bill.automaticPayment"
        name="automatic-payment"
        :native-value="true"
      >
        Yes
      </b-radio>
      <b-radio
        v-model="bill.automaticPayment"
        name="automatic-payment"
        :native-value="false"
      >
        No
      </b-radio>
    </b-field>
    <b-field label="Does this payment require manual renewal each year?">
      <b-radio
        class="mr-4"
        v-model="bill.requiresRenewal"
        name="requires-renewal"
        :native-value="true"
      >
        Yes
      </b-radio>
      <b-radio
        v-model="bill.requiresRenewal"
        name="requires-renewal"
        :native-value="false"
      >
        No
      </b-radio>
    </b-field>

    <b-button class="mt-5" type="is-secondary" @click="submitForm">
      {{ buttonText }}
    </b-button>
  </form>
</template>

<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  name: 'BillForm',

  data() {
    return {
    };
  },

  props: {
    bill: {
      type: Object,
      default() {
        return {};
      },
    },
    title: {
      type: String,
      default() {
        return 'Add Bill';
      },
    },
    buttonText: {
      type: String,
      default() {
        return 'Submit';
      },
    },
  },

  methods: {

    /**
     * Emit the submitted event and pass the bill
     */
    submitForm() {
      this.$emit('submitted', this.bill);
    },
  },
});
</script>
